body{
    font-family: 'Poppins', sans-serif;
   padding: 0px;
   margin: 0px;

}


// =======================================================nabar
.navbar{
    padding: 0px ;
    height: 70px;
    @media only screen and (max-width:767px){
        height: 60px;
     }
}
.navbar-brand{
    display: flex;
    flex-shrink: 0;
}
.navbar-logo{
    height: 50px;
    width:100%;
    @media only screen and (max-width:767px){
        height: 40px;
     }
}

.nav-form{
    position: relative;
    width: 400px;
    input{
        background-color: white;
        font-size: 16px;
        padding: 7px 15px;
        border-radius: 30px;
        border: 1px solid $light-grey;
    }
    i{
        font-size: 20px;
        color: $light-grey;
        position: absolute;
        top: 4px;
        right: 10px;
    }
    @media only screen and (max-width:800px){
        display: none;
    }
}
.nav-form-sm{
    display: none;
    @media only screen and (max-width:800px){
        display: block;
    }
}
.nav-link{
  object-fit: cover;
  padding: 0px;
  margin: 0px 10px;
    img{
        height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
    @media only screen and (max-width:767px){
        height: 30px;
        width: 30px;
        font-size: 22px;
    }
    }
    @media only screen and (max-width:767px){
         margin: 0px 5px;        
    }
}
.peer-icons{
    position: relative;
    .message-number-notification{
        position: absolute;
        height: 15px;
        width: 15px;
        font-size: 10px;
        font-weight: 500;
        background-color: red;
        color: white;
        border-radius: 100%;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -2px;
        right:-1px;
        @media only screen and (max-width:767px){
            top: -4px;
            font-size: 8px;
        }
    }
}
.peer-icons i{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
    font-size: 26px;
    border: 1px solid $primary;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    @media only screen and (max-width:767px){
        height: 30px;
        width: 30px;
        font-size: 22px;
    }
   
}


.parent {
	position: relative;
	
}
.up-arrow {
    position: absolute;
    top: -10px;
    right: 20px;
	border-color: $light-grey transparent;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	height: 0px;
	width: 0px;
}
.parent:hover>ul {
	display: block;
	position: absolute;
    right: 0px;
    top: 45px;
    background-color: white;
    border: 2px solid $light-grey;
    padding: 10px 5px;
    width: fit-content;
    list-style: none;
    min-width: 150px !important;
    border-radius: 7px;
    @media only screen and (max-width:767px) {
   right: -10px;
    }
}

.child {
	display: none;
    position: relative;
    z-index: 10;

}
.chat-notification{
    background-color: $grey-cream;
    padding: 5px;
    display: flex;
    border: 2px solid $grey-cream;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
    &:hover{
        border: 2px solid $light-grey;
    }

    &-img{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        img{
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &-text{
        margin-left: 10px;
        position: relative;
        width: 220px;
        @media only screen and (max-width:767px) {
          width: 180px;
             }
        .message-text{
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
        .name{
            // color: $primary;
            font-size: 14px;
            font-weight: 500;
            color: rgb(29, 29, 29);
        }
        .date{
            font-size: 14px;
            font-weight: 500;
            color: rgb(29, 29, 29);
        }
        .message-number{
            // position: absolute;
            // bottom: 3px;
            // right: 5px;
            background-color: $primary-light;
            color: white;
            font-size: 13px;
            font-weight: 400;
            height: 15px;
            width: 15px;
            display: flex;justify-content: center;
            align-items: center;
            border-radius: 100%;
            padding: 12px;
         }
    }
}
.child li:hover {
    background-color: $grey-cream;
}
.drop-heading{
    font-size: 20px;
    color: $primary;
    font-weight: 600;
}

.child li a {
	color: $light-grey;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content:center;
    @media only screen and (max-width:767px) {
       
        color: $primary !important;
        white-space: normal;
    }
}


// ==============================btns
.fixed-btns{
    position: fixed;
    top: 30%;
    right: -135px;
    transition: all .5s;
    @media only screen and (max-width:767px){
        top: 60%;
    }
    &:hover{
        right: 0px;
    }
    button{
        background-color: $primary;
        padding: 4px 10px;
        border-radius: 2px 0px 0px 2px;
        color: white;
          font-size: 18px;
          display: flex;
          align-items: center;
         border: none;
         width: 100%;
         border: 2px solid transparent;
         &:hover{
            border: 2px solid $brown;
         }
         img{
            height: 25px;
            margin-right: 10px !important;
         }
    }
}